.Loading-NFTs-Data-container{
    margin: 10px;
}

.Loading-NFTs-Data{

}

.Loading-NFTs-progress-container {
    margin-bottom: 10px;
    /* width: 90%; */
    display: flex;
    align-items: center;
    /* border: 1px solid rgb(233, 5, 5); */
}
.Loading-NFTs-progress {
    margin-bottom: 10px;
    width: 95%;
    /* display: flex; */
    /* border: 1px solid black; */
}
.Loading-NFTs-progress-count {
    margin-bottom: 10px;
    padding-left: 5px;
    /* border: 1px solid rgb(23, 0, 235); */
}
.Loading-NFTs-Text1{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;


}

.Loading-NFTs-Text2{
    /* border: 1px solid black; */
    margin-bottom: 10px;

}

.Loading-NFTs-Attribute{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;


}

.Loading-NFTs-circle {
    /* border: 1px solid black; */
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.progress{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.progress-text{
    /* border: 1px solid black; */
    font-size: large;
    margin-left: 5px;
}

.progress-loading{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none


}